.container {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    padding-inline: 55px;
    max-width: $desktop-min-width;
  }

  &--margin {
    margin: 0 auto;
  }

  &--padding-block {
    padding-top: 27px;
    padding-bottom: 27px;

    @include on-tablet {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @include on-desktop {
      padding-bottom: 48px;
    }
  }

  &--flex {
    @include on-tablet {
      display: flex;
      gap: 38px;
      height: 225px;
      max-width: inherit;
    }

    @include on-desktop {
      gap: 102px;
    }
  }

  &--grid {
    @include page-grid;

    margin: 0 auto;
  }
}
