.swiper {
  &--switcher {
    @include on-desktop {
      display: none !important;
    }
  }
  &-wrapper {
    margin-bottom: 20px !important;

    @include on-tablet {
      margin-bottom: 32px !important;
    }
  }

  &-slide {
    cursor: pointer !important;
    transition: transform 0.3s !important;

    &:hover {
      transform: scale(1.05) !important;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
  }

  &-pagination {
    position: initial !important;
    width: 102px !important;
    display: flex !important;
    justify-content: space-between !important;
    row-gap: 22px !important;

    &-bullet {
      width: 9px !important;
      height: 9px !important;
      background-color: $grey !important;

      &-active {
        background-color: $green !important;
      }
    }
  }
}
