.weekends {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  &__bold-text {
    font-weight: 600;
  }

  &--normal-text {
    font-weight: 400;
  }

  &__double-dot {
    display: none;
  }

  &__br {
    @include on-tablet {
      display: block;
    }

    @include on-desktop {
      display: inline;
    }
  }

  &__1 {
    @include on-desktop {
      display: block;
    }
  }
}
