.work-schedule {
  &__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
    letter-spacing: 0%;
  }

  &__list {
    list-style: none;
  }

  &__item {
    line-height: 100%;
  }

  &__time {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  &__day {
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
