@keyframes background-float {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 16%;
  }

  25% {
    transform: scale(1.25) translate(-20px, -15px);
    transform-origin: top left;
  }

  50% {
    transform-origin: 16% 16%;
  }

  75% {
    transform-origin: 84% 84%;
  }
  100% {
    transform: scale(1.25) translate(20px, 15px);
    transform-origin: right bottom;
  }
}

@keyframes background-show {
  0% {
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }

  54% {
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }

  100% {
    transform: translateZ(0) rotateX(0);
  }
}

@keyframes title-com-in {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes roll-in-right {
  0% {
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes from-center {
  0% {
    transform: scaleX(0);
  }
}

@keyframes from-left {
  0% {
    transform: translate(-500%);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

@keyframes scale-in-ver-top {
  0% {
    transform: scaleX(1) rotate(90deg);
    transform-origin: 100% 15%;
    opacity: 1;
  }

  100% {
    transform: scaleX(0) rotate(90deg);
    transform-origin: 100% 15%;
    opacity: 1;
  }
}

@keyframes bounce-in-events {
  0% {
    transform: translateX(-500px) rotate(-90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: translateX(0) rotate(-90deg);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: translateX(-45px) rotate(-90deg);
    animation-timing-function: ease-in;
  }

  72% {
    transform: translateX(0) rotate(-90deg);
    animation-timing-function: ease-out;
  }

  81% {
    transform: translateX(-28px) rotate(-90deg);
    animation-timing-function: ease-in;
  }

  90% {
    transform: translateY(0) rotate(-90deg);
    animation-timing-function: ease-out;
  }

  95% {
    transform: translateY(-8px) rotate(-90deg);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateY(0) rotate(-90deg);
    animation-timing-function: ease-out;
  }
}

@keyframes menu-line-hor {
  0% {
    transform: scaleX(0.5);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes menu-line-ver {
  0% {
    transform: scaleY(0.5);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
