$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$black: #000;
$black-second: #0f0e08;
$white: #fff;
$green: #1a5a4c;
$grey: #687480;
$grey-second: #4e4e4e;
$orange: #f14a27;
$text-shadow: 4px 4px 4px rgba(26, 90, 76, 0.83);
